<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Matutino</th>
                <th>Noturno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ADS</td>
                <td>ADS</td>
            </tr>   
            <tr>
                <td>Eventos</td>
                <td>*</td>
            </tr>

            <tr>
                <td>Gestão Comercial</td>
                <td>Gestão Comercial</td>
            </tr>

            <tr>
                <td>*</td>
                <td>RH</td>
            </tr>



        </tbody>
    </table>

</body>
</html>
